<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Permission</title>
</head>
<body>
    <h1>Will you allow us to store your data?</h1>
        <form action="/process" method="post">
        <input type="checkbox" id="grant" name="grant" value="grant">
        <label for="grant">Grant</label><br>
        <input type="checkbox" id="reject" name="reject" value="reject">
        <label for="reject">Reject</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>