<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Rejected Permission</title>
</head>
<body>
    
    <p>You have rejected permission to store your data.</p>
    <div id="data-list"></div>
    <br>
    <a href="/erase_data">Erase Data</a>
    <script>
      function getData() {
          $.get('/get_data', function (data) {
              $('#data-list').empty();
              
              if (data.rejection_data.length > 0) {
                  $('#data-list').append('<h2>Rejection Details:</h2>');
                  data.rejection_data.forEach(function (rejection) {
                      $('#data-list').append('<p>Date and Time: ' + rejection.datetime + '</p>');
                      $('#data-list').append('<p>Description: ' + rejection.description + '</p>');
                      $('#data-list').append('<hr>');
                  });
                  // AI Generated
                  $('#form-container').hide();
                  // End AI Generated
              }
          });
      }
      $(document).ready(function () {
          getData();
          $('#data-form').submit(function (event) {
              event.preventDefault();
              $.ajax({
                  type: 'POST',
                  url: '/process',
                  data: $(this).serialize(),
                  success: function (response) {
                      $('#message').text(response.message);
                      // AI Generated
                      $('#form-container').hide();
                      $('#message').show();
                      // End AI Generated
                      getData();
                  },
                  error: function (error) {
                      console.log(error);
                  }
              });
          });
          $('#erase-data').click(function (event) {
              event.preventDefault();
              $.get('/erase_data', function (response) {
                  $('#data-list').empty();
                  // AI Generated
                  $('#form-container').show();
                  $('#message').hide();
                  // End AI Generated
              });
          });
      });
  </script>
</body>
</html>